<form (ngSubmit)="onSubmit()" class="form">
  <h3 class="title">Thêm phí giao hàng mới</h3>

  <mat-form-field class="form-field">
    <mat-label>Tên</mat-label>
    <input
      matInput
      placeholder="Ex. Fast"
      [(ngModel)]="createShippingFeeDto.name"
      name="name"
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Phí</mat-label>
    <input
      matInput
      placeholder="Enter shipping fee"
      type="number"
      [(ngModel)]="createShippingFeeDto.fee"
      name="fee"
    />
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Thêm
  </button>
</form>
