<div class="product-list" *ngIf="products$ | async as productList">
  <app-product-button
    class="product-button"
    (toggleButtonClicked)="handleProductFormVisibility()"
    (deleteButtonClicked)="deleteProduct()"
    [contentVisibility]="productFormVisibility"
  >


  </app-product-button>

  <app-product-form
    *ngIf="productFormVisibility"
    (closeButtonClicked)="handleCloseButtonClicked()"
  >
  </app-product-form>
  <table width="100%" class="board">
    <thead>
      <tr>
        <td>Select</td>
        <td>Image</td>
        <td>Name</td>
        <td>Price</td>
        <td>Category</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList; let i = index">
        <td>
          <input
            type="checkbox"
            (change)="onToggleCheckbox(product.id!, $event)"
          />
        </td>
        <td>
          <div *ngIf="product.image as productImage">
            <img
              [src]="productImage"
              alt="{{ product.name }}"
              height="50"
              onError="this.onerror=null;this.src='/assets/placeholder-default-image.webp';"
            />
          </div>
          <div *ngIf="!product.image">
            <img
              src="/assets/placeholder-default-image.webp"
              alt="{{ product.name }}"
              height="50"
            />
          </div>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price?.amount }}$</td>
        <td>{{ product.categories?.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
</div>
