<h3 class="title">Analytic</h3>

<div class="body">
  <div class="box">
    <fa-icon [icon]="faUsers"></fa-icon>
    <div>
      <h3>8,267</h3>
      <span>New Users</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <div>
      <h3>200,521</h3>
      <span>Total Orders</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faCoffee"></fa-icon>
    <div>
      <h3>215,543</h3>
      <span>Products Sell</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    <div>
      <h3>$677.89</h3>
      <span>This Month</span>
    </div>
  </div>
</div>
