<h3 class="title">Analytic</h3>

<mat-form-field>
  <mat-label>Lấy doanh thu theo...</mat-label>
  <mat-select>
    <mat-option value="daily" (click)="getDailyStatistics()">Ngày</mat-option>
    <mat-option value="monthly" (click)="getMonthlyStatistics()"
      >Tháng</mat-option
    >
    <mat-option value="weekly" (click)="getWeeklyStatistics()">Tuần</mat-option>
  </mat-select>
</mat-form-field>
<div class="body">
  <div class="box">
    <fa-icon [icon]="faUsers"></fa-icon>
    <div>
      <h3>{{ memberCount }}</h3>
      <span>Khách hàng mới</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <div>
      <h3>{{ orderCount }}</h3>
      <span>Tổng đơn hàng</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faCoffee"></fa-icon>
    <div>
      <h3>{{ sold }}</h3>
      <span>Hàng đã bán</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    <div>
      <h3>{{ income || 0 | number: numberFormat }}</h3>
      <span>Doanh thu</span>
    </div>
  </div>
</div>
