<h3 class="title">Analytic</h3>

<mat-form-field>
  <mat-label>Sort by date</mat-label>
  <mat-select>
    <mat-option value="daily" (click)="getDailyStatistics()">Daily</mat-option>
    <mat-option value="monthly" (click)="getMonthlyStatistics()"
      >Monthly</mat-option
    >
    <mat-option value="weekly" (click)="getWeeklyStatistics()"
      >Weekly</mat-option
    >
  </mat-select>
</mat-form-field>
<div class="body">
  <div class="box">
    <fa-icon [icon]="faUsers"></fa-icon>
    <div>
      <h3>{{ memberCount }}</h3>
      <span>New Users</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <div>
      <h3>{{ orderCount }}</h3>
      <span>Total Orders</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faCoffee"></fa-icon>
    <div>
      <h3>{{ sold }}</h3>
      <span>Products Sell</span>
    </div>
  </div>

  <div class="box">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    <div>
      <h3>{{ income || 0 | number: numberFormat }}</h3>
      <span>Daily Income</span>
    </div>
  </div>
</div>
