<section class="products-page" *ngIf="products">
  <div class="button-group">
    <mat-slide-toggle (click)="toggleAddForm()">Edit</mat-slide-toggle>
    <button mat-flat-button color="warn" (click)="deleteProduct()">
      Delete
    </button>
  </div>

  <app-product-form *ngIf="productFormVisibility" class="product-form">
  </app-product-form>

  <app-products-table
    [products]="products"
    [editMode]="productFormVisibility"
    (selectedProductIdsChange)="onSelectedProductIdsChange($event)"
  ></app-products-table>
</section>
