<form
  [formGroup]="categoryForm"
  (ngSubmit)="onCategorySubmit()"
  class="category-form"
>
  <h3>Thêm danh mục</h3>

  <mat-form-field class="form-group">
    <mat-label>Tên</mat-label>
    <input matInput placeholder="Ex. Dark Coffee" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Mô tả</mat-label>
    <textarea
      matInput
      placeholder="Enter category description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Thêm
  </button>
</form>
