<form (ngSubmit)="onCategorySubmit()" class="category-form">
  <h3>Add new category</h3>

  <mat-form-field class="form-group">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Ex. Dark Coffee"
      [(ngModel)]="createCategoryDto.name"
      name="name"
    />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Enter category description"
      [(ngModel)]="createCategoryDto.description"
      name="description"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Submit
  </button>
</form>
