<form (ngSubmit)="onCategorySubmit()" class="category-form">
  <h3>Thêm danh mục mới</h3>

  <mat-form-field class="form-group">
    <mat-label>Tên</mat-label>
    <input
      matInput
      placeholder="Ex. Laptop"
      [(ngModel)]="createCategoryDto.name"
      name="name"
    />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Mô tả</mat-label>
    <textarea
      matInput
      placeholder="Nhập vào mô tả"
      [(ngModel)]="createCategoryDto.description"
      name="description"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Tạo
  </button>
</form>
