<app-white-form
  (formSubmitted)="createShipping($event)"
  [dto]="createShippingDto"
  [title]="'Tạo đơn giao'"
>
  <mat-form-field class="form-field">
    <mat-label>Nhân viên giao hàng</mat-label>
    <mat-select [(ngModel)]="createShippingDto.shipperId">
      <mat-option *ngFor="let shipper of shippers" [value]="shipper.id">{{
        shipper.full_name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Chọn ngày</mat-label>
    <input
      [(ngModel)]="createShippingDto.dueDate"
      matInput
      [matDatepicker]="picker"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker> </mat-datepicker>
  </mat-form-field>
</app-white-form>
