<section class="section shipping-fee-details">
  <mat-toolbar color="primary" class="header"
    >Phí giao hàng chi tiết</mat-toolbar
  >

  <form class="form" (ngSubmit)="onSubmit()">
    <h3 class="title">Cập nhật phí giao hàng</h3>

    <mat-form-field class="form-field">
      <mat-label>Tên</mat-label>
      <input
        matInput
        placeholder="Ex. Fast"
        [value]="shippingFee.name"
        (change)="onNameChange($event)"
        name="name"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Phí</mat-label>
      <input
        matInput
        placeholder="Enter shipping fee"
        type="number"
        [value]="shippingFee.fee"
        (change)="onFeeChange($event)"
        name="fee"
      />
    </mat-form-field>

    <button mat-raised-button color="primary">Cập nhật</button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="deleteShippingFee()"
    >
      Xóa
    </button>
  </form>
</section>
