<section class="menu">
  <div class="menu__logo">
    <img src="assets/logo/logo.webp" alt="" />
    <h2>ShopEase Admin</h2>
  </div>

  <div class="menu__items">
    <div *ngIf="!isShipper()">
      <li *ngIf="isAdmin()" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon area-hidden="true">assignment</mat-icon>
        <a>Thống kê</a>
      </li>

      <li routerLink="products" routerLinkActive="active">
        <mat-icon area-hidden="true">local_grocery_store</mat-icon>
        <a>Hàng hóa</a>
      </li>

      <li routerLink="categories" routerLinkActive="active">
        <mat-icon area-hidden="true">list</mat-icon>
        <a>Danh muc</a>
      </li>

      <li *ngIf="isAdmin()" routerLink="users" routerLinkActive="active">
        <mat-icon area-hidden="true">person</mat-icon>
        <a>Người dùng</a>
      </li>

      <li routerLink="discounts" routerLinkActive="active">
        <mat-icon area-hidden="true">loyalty</mat-icon>
        <a>Giảm giá</a>
      </li>
    </div>
    <div *ngIf="isStaff()">
      <li routerLink="shipping-fee" routerLinkActive="active">
        <mat-icon area-hidden="true">motorcycle</mat-icon>
        <a>Phí giao hàng</a>
      </li>

      <li routerLink="orders" routerLinkActive="active">
        <mat-icon area-hidden="true">description</mat-icon>
        <a>Đơn hàng</a>
      </li>

      <li routerLink="shipper" routerLinkActive="active">
        <mat-icon area-hidden="true">people</mat-icon>
        <a>Nhân viên giao hàng</a>
      </li>
    </div>

    <div *ngIf="isShipper()">
      <li routerLink="shipping" routerLinkActive="active">
        <fa-icon [icon]="faList"></fa-icon>
        <a>Giao hàng</a>
      </li>
    </div>
  </div>
</section>
