<section class="menu">
  <div class="menu__logo">
    <img src="assets/logo/logo.webp" alt="" />
    <h2>ShopEase Admin</h2>
  </div>

  <div class="menu__items">
    <li routerLink="products" routerLinkActive="active">
      <fa-icon [icon]="faBoxOpen"></fa-icon>
      <a>Products</a>
    </li>

    <li routerLink="categories" routerLinkActive="active">
      <fa-icon [icon]="faList"></fa-icon>
      <a>Categories</a>
    </li>

    <li routerLink="users" routerLinkActive="active">
      <fa-icon [icon]="faUser"></fa-icon>
      <a>Users</a>
    </li>

    <li routerLink="discounts" routerLinkActive="active">
      <fa-icon [icon]="faTag"></fa-icon>
      <a>Discounts</a>
    </li>

    <li routerLink="orders" routerLinkActive="active">
      <fa-icon [icon]="faList"></fa-icon>
      <a>Orders</a>
    </li>
  </div>
</section>
