<div class="category-panel" *ngIf="categories$ | async as categories">
  <div class="button-group">
    <app-primary-button (click)="toggleAddCategoryForm()">
      <fa-icon *ngIf="!isCategoryFormVisible" [icon]="faPlus"></fa-icon>
      <fa-icon *ngIf="isCategoryFormVisible" [icon]="faMinus"></fa-icon>
      Add</app-primary-button
    >
    <app-secondary-button
      *ngIf="selectedCategoryIds.length > 0"
      (click)="removeCategories()"
      >Remove</app-secondary-button
    >
    <app-secondary-button
      *ngIf="selectedCategoryIds.length > 0"
      (click)="deselectAll()"
      >Deselect All</app-secondary-button
    >
    <app-secondary-button
      *ngIf="isSelecting && selectedCategoryIds.length === 0"
      (click)="toggleSelectMode()"
      >Disable Selection</app-secondary-button
    >
    <app-secondary-button *ngIf="!isSelecting" (click)="toggleSelectMode()"
      >Enable Selection</app-secondary-button
    >
  </div>
  <div class="category-form">
    <app-category-form *ngIf="isCategoryFormVisible"></app-category-form>
  </div>
  <div class="category-list">
    <div
      class="category-item"
      *ngFor="let category of categories; let i = index"
    >
      <div>
        <p class="category-name">{{ category.name }}</p>
        <div
          class="checkbox"
          *ngIf="isSelecting"
          [class.checked]="selectedCategoryIds.includes(category.id)"
          (click)="toggleSelection($event, category.id)"
        ></div>
      </div>
    </div>
  </div>
</div>
