<section class="discount-details">
  <form (ngSubmit)="onSubmit()">
    <div class="discount-details__header">
      <div class="left">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="updateDiscountDto.name" />
          <button
            *ngIf="updateDiscountDto.name"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateDiscountDto.name = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            type="text"
            [(ngModel)]="updateDiscountDto.description"
          ></textarea>
          <button
            *ngIf="updateDiscountDto.description"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateDiscountDto.description = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Percentage</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="updateDiscountDto.percentage"
          />
          <button
            *ngIf="updateDiscountDto.percentage"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateDiscountDto.percentage = 0"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- <div -->
    <!--   class="category-details__content product-table" -->
    <!--   *ngIf="discount.products" -->
    <!-- > -->
    <!--   <app-products-table -->
    <!--     [products]="discount.products" -->
    <!--     [highlightIds]="removingProductIds" -->
    <!--     (selectedProductIdsChange)="selectedProductsChange($event)" -->
    <!--     [editMode]="editMode" -->
    <!--   ></app-products-table> -->
    <!-- </div> -->

    <button mat-raised-button color="warn" (click)="deleteDiscount()">
      Delete
    </button>
    <button class="add-product" mat-raised-button color="primary" type="submit">
      Confirm
    </button>
  </form>
</section>
