<form class="form" (ngSubmit)="onSubmit()">
  <h3 class="title">Thêm giảm giá</h3>

  <mat-form-field class="form-field">
    <mat-label>Tên</mat-label>
    <input
      matInput
      name="name"
      placeholder="Ex. Summer sale"
      [(ngModel)]="createDiscountDto.name"
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Phần trăm</mat-label>
    <input
      matInput
      name="percentage"
      placeholder="Ex. 10% off"
      [(ngModel)]="createDiscountDto.percentage"
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Mô tả</mat-label>
    <textarea
      matInput
      name="description"
      placeholder="Enter discount description"
      [(ngModel)]="createDiscountDto.description"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Tạo
  </button>
</form>
