<div class="form">
  <form (ngSubmit)="onSubmit()" (valueChanges)="saveToTemporaryStorage()">
    <h3 class="title">Thêm nhân viên giao hàng mới</h3>

    <mat-form-field class="form-field">
      <mat-label>Tên người dùng</mat-label>
      <input matInput [(ngModel)]="createShipperDto.username" name="username" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Số điện thoại</mat-label>
      <input matInput [(ngModel)]="createShipperDto.phone" name="phone" />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Tên đầy đủ</mat-label>
      <input
        matInput
        [(ngModel)]="createShipperDto.fullName"
        name="full_name"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mât khẩu</mat-label>
      <input
        [(ngModel)]="createShipperDto.password"
        name="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" class="button">Tạo</button>
  </form>
</div>
