<div class="user-form form">
  <form (ngSubmit)="onSubmit()" (valueChanges)="saveToTemporaryStorage()">
    <h3 class="title">Thêm nhân viên mới</h3>

    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="createUserDto.username" name="username" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="createUserDto.email"
        name="email"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Số điện thoại</mat-label>
      <input matInput [(ngModel)]="createUserDto.phone" name="phone" />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Tên đầy đủ</mat-label>
      <input matInput [(ngModel)]="createUserDto.fullName" name="full_name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mật khẩu</mat-label>
      <input
        [(ngModel)]="createUserDto.password"
        name="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" class="button">Tạo</button>
  </form>
</div>
