<section class="section">
  <mat-toolbar color="primary" class="header">Shipping</mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order 1</mat-card-title>
      <mat-card-subtitle
        >Fast Shipping | 1,900,000 VND | Khanh An, An Phu, An Giang | Due Date:
        15/10/2023</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>ACCEPT</button>
      <button mat-button>REFUSE</button>
    </mat-card-actions>
  </mat-card>
</section>
