<div class="columns">
  <div class="column col-12">
    <mat-form-field>
      <mat-label>Tìm kiếm</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tình trạng</mat-label>
      <mat-select
        required
        [(value)]="currentStatus"
        (selectionChange)="getOrderList($event)"
      >
        <mat-option [value]="''">Tất cả</mat-option>
        <mat-option [value]="orderStatus.PROCESSING">Đang chờ xử lý</mat-option>
        <mat-option [value]="orderStatus.ASSIGNED"
          >Đã giao cho shipper</mat-option
        >
        <mat-option [value]="orderStatus.ACCEPTED"
          >Đã được shipper tiếp nhận</mat-option
        >
        <mat-option [value]="orderStatus.DELIVERING">Đang giao</mat-option>
        <mat-option [value]="orderStatus.DELIVERED">Đã giao</mat-option>
        <mat-option [value]="orderStatus.CANCELED">Đả huỷ</mat-option>
        <mat-option [value]="orderStatus.DELIVERED">Đã giao</mat-option>
        <mat-option [value]="orderStatus.COMPLETED">Đã hoàn thành</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Member Column -->
        <ng-container matColumnDef="member_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Khách hàng</th>
          <td mat-cell *matCellDef="let row">{{ row.member_name }}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="member_phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SDT</th>
          <td mat-cell *matCellDef="let row">{{ row.member_phone }}</td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="total_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng</th>
          <td mat-cell *matCellDef="let row">
            {{ row.total_price | number: numberFormat }} VND
          </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian</th>
          <td mat-cell *matCellDef="let row">
            {{ row.created_at | date: "h:mm a, dd/MM/yyyy" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="mat-row"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          routerLink="/dashboard/orders/{{ row.id }}"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Không có dữ liệu</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        [pageIndex]="page - 1"
        [pageSize]="itemsPerPage"
        [length]="totalItems"
        (page)="handlePageChange($event)"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
