.action-button {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.secondary-button {
  background: white;
  color: #594ef7;
  border: 1px solid #594ef7;
}

.action-button:hover {
  opacity: 0.8;
}
