<div class="button-group">
  <app-primary-button (click)="onToggleButtonClicked()">
    <fa-icon *ngIf="!isToggleButtonVisible" [icon]="faPlus"></fa-icon>
    <fa-icon *ngIf="isToggleButtonVisible" [icon]="faMinus"></fa-icon>
    Add</app-primary-button
  >
  <app-secondary-button
    *ngIf="isRemoveButtonVisible"
    (click)="onRemoveButtonClicked()"
    >Remove</app-secondary-button
  >
  <app-secondary-button
    *ngIf="isDeselectButtonVisible"
    (click)="onDeselectButtonClicked()"
    >Deselect All</app-secondary-button
  >
  <app-secondary-button
    *ngIf="isDisableSelectionButtonVisible"
    (click)="onDisableSelectionButtonClicked()"
    >Disable Selection</app-secondary-button
  >
  <app-secondary-button
    *ngIf="isEnableSelectionButtonVisible"
    (click)="onEnableSelectionButtonClicked()"
    >Enable Selection</app-secondary-button
  >
</div>
