<form (ngSubmit)="onDiscountSubmit()" class="discount-form">
  <h3>Add new discount</h3>

  <mat-form-field class="form-group">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Ex. Summer sale"
      [(ngModel)]="createDiscountDto.name"
    />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Percentage</mat-label>
    <input
      matInput
      placeholder="Ex. 10% off"
      [(ngModel)]="createDiscountDto.percentage"
    />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Enter discount description"
      [(ngModel)]="createDiscountDto.description"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" type="submit">
    Submit
  </button>
</form>
