<table width="100%" class="board">
  <thead>
    <tr>
      <td>Name</td>
      <td>Title</td>
      <td>Status</td>
      <td>Role</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="people">
        <img src="assets/1.webp" alt="" />
        <div class="people-de">
          <h5>John Doe</h5>
          <p>john@example.com</p>
        </div>
      </td>

      <td class="people-des">
        <h5>Software Engineer</h5>
        <p>Web dev</p>
      </td>

      <td class="active">
        <p>Active</p>
      </td>

      <td class="role">
        <p>Owner</p>
      </td>

      <td class="edit">
        <a href="#">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
