<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ shipping.shipper_name }}</mat-card-title>
    <mat-card-subtitle>{{ shipping.shipper_phone }}</mat-card-subtitle>
    <mat-card-subtitle>{{ shipping.due_date | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Khách hàng bảo giao hàng nhanh !!!</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onCancelClick()" *ngIf="isAssigned()" mat-button>
      HỦY BỎ
    </button>
  </mat-card-actions>
</mat-card>
