<section class="section category-details">
  <mat-toolbar color="primary" class="header">Chi tiết danh mục</mat-toolbar>

  <form class="form" (ngSubmit)="onSubmit()">
    <h3 class="title">Update category</h3>
    <mat-form-field class="form-field">
      <mat-label>Tên danh mục</mat-label>
      <input matInput [(ngModel)]="updateCategoryDto.name" name="name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mô tả</mat-label>
      <textarea
        matInput
        [(ngModel)]="updateCategoryDto.description"
        name="description"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Cập nhật</button>
  </form>

  <app-product-list [products]="category.products"></app-product-list>
</section>
