<section class="category-details" *ngIf="category">
  <form (ngSubmit)="onSubmit()">
    <div class="category-details__header">
      <div class="left">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="updateCategoryDto.name" />
          <button
            *ngIf="updateCategoryDto.name"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateCategoryDto.name = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            type="text"
            [(ngModel)]="updateCategoryDto.description"
          ></textarea>
          <button
            *ngIf="updateCategoryDto.description"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateCategoryDto.description = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- <div -->
    <!--   class="category-details__content product-table" -->
    <!--   *ngIf="category.products" -->
    <!-- > -->
    <!--   <app-products-table -->
    <!--     [products]="category.products" -->
    <!--     [highlightIds]="removingProductIds" -->
    <!--     (selectedProductIdsChange)="selectedProductsChange($event)" -->
    <!--     [editMode]="editMode" -->
    <!--   ></app-products-table> -->
    <!-- </div> -->

    <button mat-raised-button color="warn" (click)="deleteCategory()">
      Delete
    </button>
    <button class="add-product" mat-raised-button color="primary" type="submit">
      Confirm
    </button>
  </form>
</section>
