<section class="sign-in-form-section">
  <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>sign In</h1>

    <div class="sign-in-form__inputs">
      <div class="sign-in-form__group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" id="username" />
      </div>

      <div class="sign-in-form__group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" />
      </div>
      <button
        class="sign-in-form__button"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </form>
</section>
