<section class="sign-in-form-section">
  <form class="sign-in-form" (ngSubmit)="onSubmit()">
    <h1>Đăng nhập</h1>

    <div class="sign-in-form__inputs">
      <div class="sign-in-form__group">
        <label for="username">Username</label>
        <input
          [(ngModel)]="user.username"
          type="text"
          id="username"
          name="username"
        />
      </div>

      <div class="sign-in-form__group">
        <label for="password">Mật khẩu</label>
        <input
          [(ngModel)]="user.password"
          type="password"
          id="password"
          name="password"
        />
      </div>
      <button class="sign-in-form__button" type="submit">Đăng nhập</button>
    </div>
  </form>
</section>
