<div class="product-form">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h3>Add new product</h3>

    <label for="name">Product Name</label>
    <input
      id="name"
      class="box"
      type="text"
      placeholder="Enter product name"
      formControlName="name"
    />

    <label for="price">Product Price</label>
    <input
      id="price"
      class="box"
      type="number"
      placeholder="Enter product price"
      formControlName="price"
    />

    <label for="description">Product Description</label>
    <textarea
      id="description"
      class="box"
      placeholder="Enter product description"
      formControlName="description"
    ></textarea>

    <div class="custom-select-container">
      <label for="categories">Categories</label>
      <select
        name="categories"
        id="categories"
        class="select-multiple"
        focus="onSelectFocus()"
        blur="onSelectBlur()"
        formControlName="categoryIds"
        multiple
      >
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <label for="image">Product Image</label>
    <input
      id="image"
      class="box"
      type="file"
      accept="image/*"
      #productImage
      (change)="handleFileInput($event)"
    />

    <button class="btn" type="submit">Add a product</button>
  </form>
</div>
