<div class="product-form">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h3>Thêm sản phẩm</h3>

    <mat-form-field class="form-field">
      <mat-label>Tên sản phẩm</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Giá sản phẩm</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mô tả</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <!-- <mat-form-field class="form-field"> -->
    <!--   <mat-label>Product Image</mat-label> -->
    <!--   <ngx-mat-file-input -->
    <!--     formControlName="image" -->
    <!--     placeholder="Image" -->
    <!--   ></ngx-mat-file-input> -->
    <!---->
    <!--   <mat-icon matSuffix>folder</mat-icon> -->
    <!-- </mat-form-field> -->

    <mat-form-field class="form-field">
      <mat-label>Danh mục</mat-label>
      <mat-select multiple formControlName="categoryIds">
        <mat-option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- <label for="image">Product Image</label> -->
    <!-- <input -->
    <!--   id="image" -->
    <!--   class="box" -->
    <!--   type="file" -->
    <!--   accept="image/*" -->
    <!--   #productImage -->
    <!--   (change)="handleFileInput($event)" -->
    <!-- /> -->
    <button mat-flat-button color="primary" class="button">Tạo</button>
  </form>
</div>
