<div class="product-form">
  <form (ngSubmit)="onSubmit()">
    <h3>Add new product</h3>

    <mat-form-field class="form-field">
      <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="product.name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Product Price</mat-label>
      <input matInput type="number" [(ngModel)]="product.price" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Product Description</mat-label>
      <textarea matInput [(ngModel)]="product.description"></textarea>
    </mat-form-field>

    <!-- <mat-form-field class="form-field"> -->
    <!--   <mat-label>Product Image</mat-label> -->
    <!--   <ngx-mat-file-input -->
    <!--     formControlName="image" -->
    <!--     placeholder="Image" -->
    <!--   ></ngx-mat-file-input> -->
    <!---->
    <!--   <mat-icon matSuffix>folder</mat-icon> -->
    <!-- </mat-form-field> -->

    <mat-form-field class="form-field">
      <mat-label>Categories</mat-label>
      <mat-select multiple [(ngModel)]="product.categoryIds">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{
          category.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <label for="image">Product Image</label> -->
    <!-- <input -->
    <!--   id="image" -->
    <!--   class="box" -->
    <!--   type="file" -->
    <!--   accept="image/*" -->
    <!--   #productImage -->
    <!--   (change)="handleFileInput($event)" -->
    <!-- /> -->
    <button mat-flat-button color="primary" class="button">Submit</button>
  </form>
</div>
