.example-card {
  img {
    height: fit-content; //so that it takes up full space
    max-height: 500px !important; // this prevents the image from being extremely big
    object-fit: cover;
    object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.old-price {
  text-decoration: line-through;
}
