<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }} </mat-card-title>
    <mat-card-subtitle [ngClass]="product.new_price ? 'old-price' : ''"
      >{{ product.price | number: numberFormat }} VND</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ product.new_price | number: numberFormat }} VND</mat-card-subtitle
    >
  </mat-card-header>
  <br />
  <img
    mat-card-image
    [src]="product?.image_urls?.[0] || 'assets/default-image.webp'"
    alt="Product Image"
  />
  <mat-card-content>
    <br />
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdmin()">
    <button mat-button routerLink="/dashboard/products/{{ product.id }}">
      EDIT
    </button>
    <button mat-button color="warn" (click)="onDeleteClick(product.id)">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
